@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-light{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.quicksand-medium{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.quicksand-bold{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.content {
  width: fit-content;
  height: fit-content;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.instructions{
    font-size: 40px;
    width:100%;
    text-align:center;
}

.inputs {
    display: block;
    width: 50%;
    margin: 20px auto 0px auto;
}

.inputs input {
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.link {
  text-decoration: none;
  color: black;
  opacity: 0.5;
  transition: all ease-in-out 0.2s;
}

.link:hover {
  opacity: 1;
  cursor:pointer;
}

.param-section {
  margin-top: 25px;
}

.param-line{
  height: 30px;
  margin-bottom: 10px;
}

.param-header{
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
}

.param-line input{
  float: right;
}

.applyparams {
  display: flex;
}

.applyparams input {
  margin: auto;
  float: none;
}